.sidebar-admin{
    height: 100vh;
    background: #212b36;
 .logo{
     width: 100%;
     padding: 20px 0px;
     img{
         max-width: 80px;
         display: block;
         margin: 0 auto;
     }
 }
}
