.app-admin{
   .app-data-table{
       width: 100%;
       overflow-x: scroll;
       padding-bottom: 50px;
   }

    .table{
        max-width: 100%;
        overflow: scroll;
        td{
            font-size: 12px;
            text-wrap: nowrap;
        }
        th{
            font-size: 13px;
            font-weight: 500;
        }
        .img-data{
            width: 40px;
            img{
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
    .pagination{
        .page-item{
            cursor: pointer;
            .page-link{
                padding: 4px 10px;
                font-size: 12px;
            }
        }
    }
    .btn-table{
         button{
            font-size: 10px;
        }
        li{
            font-size: 10px;

        }

    }

}
.fs-label{
    font-size: 12px ;
}
.box-table-modal{
    th{
        font-size: 12px;
    }
    td{
        font-size: 12px;
    }
    button{
        span{
            font-size: 12px;
        }
    }

}
.pagination{
    .page-item{
        cursor: pointer;
        .page-link{
            padding: 4px 10px;
            font-size: 12px;
        }
    }
}
.txt-md{
    font-weight: 500;
    font-size: 12px;
}
.txt-sm{
    font-weight: 400;
    font-size: 10px;
}
.box-selected-question{
    padding: 10px 0px;
}
