.app-admin{
   .app-data-table{
       width: 100%;
       overflow-x: scroll;
   }
    .table{
        max-width: 100%;
        overflow: scroll;
        td{
            font-size: 12px;
            text-wrap: nowrap;
        }
        th{
            font-size: 13px;
            font-weight: 500;
        }
        .img-data{
            width: 40px;
            img{
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
    .pagination{
        .page-item{
            cursor: pointer;
            .page-link{
                padding: 4px 10px;
                font-size: 12px;
            }
        }
    }
}
