.quicktest{
    .page-section{
        padding: 50px 0px;
    }
    .home{
        padding-top: 180px;
        background: linear-gradient(128deg, rgba(56,124,249,1) 0%, rgba(87,37,132,1) 100%);
        .images{
            img{
                display: block;
                max-width: 68%;
                margin: 0 auto;
            }
        }
        .big-title{
            .title{
                color: #e0d010;
                font-size: 34px;
                line-height: 44px;
                font-weight: 700;
            }
            .text{
                font-size: 16px;
                font-weight: 400;
                color: #fff;
                padding: 30px 0px;
            }
        }
        .btn-started{
            background: linear-gradient(115deg, rgb(231 203 81) 0%, rgb(239 176 71) 96%);
            padding: 8px 32px;
            border-radius: 20px;
            border: none;
            outline: none;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            transition: all 0.2s ease-out;
            &:hover{
                box-shadow: rgba(212, 178, 56, 0.4) 5px 5px, rgba(197, 175, 58, 0.3) 10px 10px, rgba(161, 149, 39, 0.2) 15px 15px, rgba(138, 114, 26, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;;
            }
        }
    }
    .about-top{
        background: #212b36;
        opacity: 0.9;
        .about-head{
            &-item{
                padding: 20px 0px;
                .title{

                    font-size: 18px;
                    line-height: 24px;
                    color: #e0d010;
                    padding-bottom: 10px;
                }
                .dot-head{
                    width: 20px;
                    height: 20px;
                    background: #212b36;
                    transform: rotate(45deg);
                    margin: 0 auto;
                    margin-bottom: -30px;
                }

            }
        }
    }
    .about-body{
        padding: 50px 0px;
        &-data{
            .item{
                //background: #3c3c3c;
                background: linear-gradient(128deg, rgb(56, 124, 249) 0%, rgb(87, 37, 132) 100%);
                border-radius: 10px;
                padding: 20px;
                .dot-head{
                    width: 20px;
                    height: 20px;
                    background: #212b36;
                    background: linear-gradient(128deg, rgb(56, 124, 249) 0%, rgb(87, 37, 132) 100%);

                    transform: rotate(45deg);
                    margin: 0 auto;
                    margin-top: -30px;
                }
                .image{
                    width: 180px;
                    height: 180px;
                    display: block;
                    margin: 0 auto;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                .text{
                    min-height: 170px;
                    .block{
                        gap: 10px;
                        padding-top: 10px;
                        .dot{
                            i{
                                color: $color_gold;
                            }
                        }
                        .des{
                            font-size: 16px;
                            padding-left: 10px;
                            color: #fff;

                        }
                    }

                }
            }

        }
    }
}
.drop-user{
    position: absolute;
    right: 0;
    padding:10px 20px;
    background: #fff;
    border-radius: 4px;
    .block-user-item{
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            color: #3f59a8;
        }
    }
}
.btn-submit-auth{
    border: 2px solid transparent !important;
    transition: all 0.3s ease;
    &:hover{
        color: #3f59a8 !important;
        background: #fff !important;
        border: 2px solid #3f59a8 !important;
    }
}
