.register-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &-block {
        width: 88%;
        //padding: 20px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        .block-bg{
            background: linear-gradient(16deg, rgba(253, 198, 45, 1) 0%, rgba(196, 158, 120, 1) 56%, rgba(128, 34, 195, 1) 100%);

        }
        .block-content {
            padding: 40px 20px;
            //background: linear-gradient(16deg, rgba(253, 198, 45, 1) 0%, rgba(196, 158, 120, 1) 56%, rgba(128, 34, 195, 1) 100%);

            .title {
                color: #e6eaf2;
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
            }

            .img {
                img {
                    max-width: 100%;
                }
            }
        }
        .block-form{
            padding-right: 30px;
            label{
                color: #232329;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

}

